footer {
    background-color: #333;
    @include flex-center;
    .footer-container {
        display: flex;
        justify-content: space-between;
        width: 90%;
        max-width: 1100px;
        margin: 70px 0;
        font-family: 'Red Hat Display', sans-serif;
        color: white;
        .copyright {
            .logo {
                >img {
                    width: 160px;
                }
            }
            p {
                font-size: 1.5rem;
                margin-top: 15px;
            }
        }
        .policies {
            h4 {
                font-weight: 500;
                font-size: 2rem;
                margin-bottom: 25px;
            }
            p {
                margin-top: 12px;
                a {
                    font-size: 1.5rem;
                    color: white;
                }
            }
        }
        .menu-footer {
            h4 {
                font-weight: 500;
                font-size: 2rem;
                margin-bottom: 25px;
            }
            p {
                margin-top: 12px;
                a {
                    font-size: 1.5rem;
                    color: white;
                }
            }
        }
        .follow {
            h4 {
                font-weight: 500;
                font-size: 2rem;
                margin-bottom: 25px;
            }
            .message {
                @include flex-center;
                margin-bottom: 25px;
                input {
                    width: 230px;
                    height: 36px;
                    margin-right: 8px;
                    background-color: rgba(216, 216, 216, 15%);
                    border: none;
                }
                button {
                    width: 36px;
                    height: 36px;
                    border: none;
                    background-color: $secondary-color;
                    &:hover {
                        cursor: pointer;
                    }
                    img {
                        width: 16px;
                    }
                }
            }
            .social-media {
                .redes {
                    width: 24px;
                    height: 24px;
                    margin-right: 10px;
                    transition: all 0.1s;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
            p {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    footer {
        .footer-container {
            flex-wrap: wrap;
            padding: 0 30px;
            .copyright {
                width: 100%;
                p {
                    display: none;
                }
            }
            .policies {
                align-self: start;
                width: 50%;
                margin: 40px 0;
            }
            .menu-footer {
                width: 50%;
                margin: 40px 0;
                padding-left: 30px;
            }
            .follow {
                width: 100%;
                p {
                    display: block;
                    font-size: 1.5rem;
                    margin-top: 40px;
                }
            }
            .footer-box {
                .message {
                    justify-content: flex-start;
                }
            }
        }
    }
}