header {
    background-color: $primary-color;
    height: 75px;
    @include flex-center;
    nav {
        display: flex;
        justify-content: space-between;
        width: 90%;
        max-width: 1100px;
        .logo {
            >img {
                width: 118px;
            }
        }
        .menu {
            font-size: 1.5rem;
            display: flex;
            z-index: 100;
            li {
                padding: 0 1.5rem;
                a {
                    height: 100%;
                    width: 100%;
                    @include flex-center;
                    flex-wrap: wrap;
                    box-sizing: content-box;
                    font-family: 'Lexend', sans-serif;
                    font-weight: 400;
                    color: white;
                }
                &:hover::after {
                    content: '';
                    display: block;
                    width: 5px;
                    height: 5px;
                    margin: auto;
                    border-radius: 50%;
                    background-color: $secondary-color;
                }
            }
        }
        .menu-icon {
            display: none;
            >img {
                width: 30px;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}


@media screen and (max-width: 800px){
    header {
        nav {
            .menu {
                display: block;
                position: absolute;
                top: 85px;
                right: 10px;
                //width: 40%;
                width: 200px;
                min-width: 175px;
                padding: 25px 0;
                background-color: $primary-color;
                border-radius: 5px;
                li {
                    display: flex;
                    align-items: center;
                    height: 35px;
                    padding: 0 30px;
                    a {
                        width: auto;
                    }
                    &:hover::after {
                        content: '';
                        width: 5px;
                        height: 5px;
                        margin-left: 20px;
                        border-radius: 50%;
                    }
                    a {
                        justify-content: flex-start;
                    }
                }
            }
            .menu-off {
                display: none;
            }
            .menu-icon {
                display: block;
            }
        }
    }
}