<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Categorias | Gimek Hogar</title>
  <link rel="shortcut icon" href="../assets/icons/logo-gimek.png" type="image/x-icon">
  <meta name="description" content="Las Mejores Ofertas y los Mayores Descuentos, sólo en Gimek Hogar. Comprá Online. Envíos a Todo el País. Ofertas Exclusivas. Categorías: Celulares, Heladeras, Televisores, Calefacción y mucho mas!.">
  <meta name="keywords" content="mundial, ofertas, descuentos, compra online, envios, electrodomesticos, audio y electronica, calzado, blanqueria, electrohogar, cuidado personal, resistencia chaco, lanus, valentin alsina.">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <header class="header">
    <nav class="nav container">
      <div class="logo">
        <img src="../assets/images/LOGO GIMEK 2 1.svg" alt="">
      </div>
      <ul class="menu menu-off" id="menu">
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="./categorias.html">Categorías</a></li>
        <li><a href="./ubicaciones.html">Ubicaciones</a></li>
        <li><a href="https://wa.me/5491169620164?text=Hola!!,%20estoy%20buscando%20un%20producto..." target="_blank">Contacto</a></li>
      </ul>
      <div class="menu-icon" id="menu-icon">
        <img src="../assets/icons/menu-icon.svg" alt="">
      </div>
    </nav>
  </header>

  <main>
    <section class="hero">
      <h1 class="hero__title">Categorías</h1>
    </section>

    <!-- Electrodomesticos -->
    <section class="products container section">
      <h2 class="products__title">ELECTRODOMESTICOS</h2>
      <div class="products__contain">
        <!-- Producto -->
          <div class="product">
            <img class="product__img" src="../assets/images/TERMO ALEBA 1.300 ML.jpg" alt="Imagen producto">
            <h3 class="product__title">Termo Aleba 1.300ML</h3>
            <p class="product__price">$11,928.00</p>
            <a class="product__btn" href="https://wa.me/5491169620164?text=Hola!,%20quiero%20comprar..." target="_blank">Comprar ></a>
          </div>
          <div class="product">
            <img class="product__img" src="../assets/images/Pava Electrica Electrolux EKC40.jpg" alt="Imagen producto">
            <h3 class="product__title">Pava Electrica Electrolux EKC40</h3>
            <p class="product__price">$5,600.00</p>
            <a class="product__btn" href="https://wa.me/5491169620164?text=Hola!,%20quiero%20comprar..." target="_blank">Comprar ></a>
          </div>
          <div class="product">
            <img class="product__img" src="../assets/images/mate aleba.jpg" alt="Imagen producto">
            <h3 class="product__title">Mate Aleba</h3>
            <p class="product__price">$4,442.2</p>
            <a class="product__btn" href="https://wa.me/5491169620164?text=Hola!,%20quiero%20comprar..." target="_blank">Comprar ></a>
          </div>
      </div>
    </section>

    <!-- AUDIO Y ELECTRÓNICA -->
    <section class="products container section">
      <h2 class="products__title">AUDIO Y ELECTRÓNICA</h2>
      <div class="products__contain">
        <!-- Producto -->
          <div class="product">
            <img class="product__img" src="../assets/images/ESTEREO B52 RM-2021BT.jpg" alt="Imagen producto">
            <h3 class="product__title">ESTEREO B52 RM-2021BT</h3>
            <p class="product__price">$9,475.2</p>
            <a class="product__btn" href="https://wa.me/5491169620164?text=Hola!,%20quiero%20comprar..." target="_blank">Comprar ></a>
          </div>
          <div class="product">
            <img class="product__img" src="../assets/images/cargador.jpg" alt="Imagen producto">
            <h3 class="product__title">POWER BANK 5000</h3>
            <p class="product__price">$1,500.40</p>
            <a class="product__btn" href="https://wa.me/5491169620164?text=Hola!,%20quiero%20comprar..." target="_blank">Comprar ></a>
          </div>
          <div class="product">
            <img class="product__img" src="../assets/images/Telefunken Neon 25.jpg" alt="Imagen producto">
            <h3 class="product__title">Telefunken Neon 25</h3>
            <p class="product__price">$36,958.6</p>
            <a class="product__btn" href="https://wa.me/5491169620164?text=Hola!,%20quiero%20comprar..." target="_blank">Comprar ></a>
          </div>
      </div>
    </section>

    <!-- CALZADO -->
    <section class="products container section">
      <h2 class="products__title">CALZADO</h2>
      <div class="products__contain">
        <!-- Producto -->
          <div class="product">
            <img class="product__img" src="../assets/images/ZAPATOS FINDERS FRESH WALK NEGRO.jpg" alt="Imagen producto">
            <h3 class="product__title">ZAPATOS FINDERS FRESH WALK NEGRO 35/40</h3>
            <p class="product__price">$6,580.00</p>
            <a class="product__btn" href="https://wa.me/5491169620164?text=Hola!,%20quiero%20comprar..." target="_blank">Comprar ></a>
          </div>
          <div class="product">
            <img class="product__img" src="../assets/images/ZAPATOS  DIAMOND PLUS NEGRO Y AZUL.jpg" alt="Imagen producto">
            <h3 class="product__title">ZAPATOS  DIAMOND PLUS NEGRO</h3>
            <p class="product__price">$6,580.00</p>
            <a class="product__btn" href="https://wa.me/5491169620164?text=Hola!,%20quiero%20comprar..." target="_blank">Comprar ></a>
          </div>
          <div class="product">
            <img class="product__img" src="../assets/images/ZAPATOS  ESSENCE ROSA.jpg" alt="Imagen producto">
            <h3 class="product__title">ZAPATOS  ESSENCE ROSA </h3>
            <p class="product__price">$8,279.10</p>
            <a class="product__btn" href="https://wa.me/5491169620164?text=Hola!,%20quiero%20comprar..." target="_blank">Comprar ></a>
          </div>
      </div>
    </section>

    <!-- BLANQUERÍA -->
    <section class="products container section">
      <h2 class="products__title">BLANQUERÍA</h2>
      <div class="products__contain">
        <!-- Producto -->
          <div class="product">
            <img class="product__img" src="../assets/images/Sabanas viridiana.jpg" alt="Imagen producto">
            <h3 class="product__title">Sabanas Veridiana</h3>
            <p class="product__price">$</p>
            <a class="product__btn" href="https://wa.me/5491169620164?text=Hola!,%20quiero%20comprar..." target="_blank">Comprar ></a>
          </div>
          <div class="product">
            <img class="product__img" src="../assets/images/Sabanas viridiana.jpg" alt="Imagen producto">
            <h3 class="product__title">Sabanas Veridiana</h3>
            <p class="product__price">$</p>
            <a class="product__btn" href="https://wa.me/5491169620164?text=Hola!,%20quiero%20comprar..." target="_blank">Comprar ></a>
          </div>
          <div class="product">
            <img class="product__img" src="../assets/images/Sabanas viridiana.jpg" alt="Imagen producto">
            <h3 class="product__title">Sabanas Veridiana</h3>
            <p class="product__price">$</p>
            <a class="product__btn" href="https://wa.me/5491169620164?text=Hola!,%20quiero%20comprar..." target="_blank">Comprar ></a>
          </div>
      </div>
    </section>

    <!-- ELECTROHOGAR -->
    <section class="products container section">
      <h2 class="products__title">ELECTROHOGAR</h2>
      <div class="products__contain">
        <!-- Producto -->
          <div class="product">
            <img class="product__img" src="../assets/images/prod-lavarropas.png" alt="Imagen producto">
            <h3 class="product__title">LAVARROPAS DREAN 6.06</h3>
            <p class="product__price">$43,637.00</p>
            <a class="product__btn" href="https://wa.me/5491169620164?text=Hola!,%20quiero%20comprar..." target="_blank">Comprar ></a>
          </div>
          <div class="product">
            <img class="product__img" src="../assets/images/SECARROPA Drean Qv 5.5kg..jpg" alt="Imagen producto">
            <h3 class="product__title">SECARROPA Drean Qv 6.5kg.</h3>
            <p class="product__price">$23,539.6</p>
            <a class="product__btn" href="https://wa.me/5491169620164?text=Hola!,%20quiero%20comprar..." target="_blank">Comprar ></a>
          </div>
          <div class="product">
            <img class="product__img" src="../assets/images/TELEFUNKEN  TF-AE10500.jpg" alt="Imagen producto">
            <h3 class="product__title">TELEFUNKEN  TF-AE10500</h3>
            <p class="product__price">$8,279.10</p>
            <a class="product__btn" href="https://wa.me/5491169620164?text=Hola!,%20quiero%20comprar..." target="_blank">Comprar ></a>
          </div>
      </div>
    </section>

    <!-- CUIDADO PERSONAL -->
    <section class="products container section">
      <h2 class="products__title">CUIDADO PERSONAL</h2>
      <div class="products__contain">
        <!-- Producto -->
          <div class="product">
            <img class="product__img" src="../assets/images/SECADOR PELO REMINGTON D1500.jpg" alt="Imagen producto">
            <h3 class="product__title">SECADOR PELO REMINGTON D1500</h3>
            <p class="product__price">$4,116.00</p>
            <a class="product__btn" href="https://wa.me/5491169620164?text=Hola!,%20quiero%20comprar..." target="_blank">Comprar ></a>
          </div>
          <div class="product">
            <img class="product__img" src="../assets/images/Cortacabello HC1095.jpg" alt="Imagen producto">
            <h3 class="product__title">Cortacabello HC1095</h3>
            <p class="product__price">$14,733.00</p>
            <a class="product__btn" href="https://wa.me/5491169620164?text=Hola!,%20quiero%20comprar..." target="_blank">Comprar ></a>
          </div>
          <div class="product">
            <img class="product__img" src="../assets/images/ofertas-plancha.png" alt="Imagen producto">
            <h3 class="product__title">Plancha pelo remington S12A</h3>
            <p class="product__price">$10,060.4</p>
            <a class="product__btn" href="https://wa.me/5491169620164?text=Hola!,%20quiero%20comprar:%20Plancha%20pelo%20remington%20S12A" target="_blank">Comprar ></a>
          </div>
      </div>
    </section>


    <!-- Informacion -->
    <section class="information section">
      <div class="information__grid container">
        <div class="info info-0">
          <img class="info__img" src="../assets/images/img-envio.png" alt="imagen trabajador">
          <p>Cobros y envios a cualquier parte del país</p>
        </div>
        <div class="info__content">
          <div class="info info-1">
            <div class="info__texts">
              <h3 class="info__title">Aceptamos todas las Tarjetas</h3>
              <p class="info__paragraph">Hasta 3 cuotas sin interes</p>
            </div>
            <img src="../assets/images/tarjetas.png" alt="imagen tarjetas">
          </div>

          <div class="info info-2">
            <img src="../assets/images/megafono.png" alt="imagen tarjetas">
            <div class="info__texts">
              <h3 class="info__title">Compra superior a $30.000</h3>
              <p class="info__paragraph">Una Remera de la selección de Regalo</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section container">
      <div class="query">
        <h3 class="query__title">¿Tienes alguna consulta o quieres comunicarte con soporte?</h3>
        <p class="query__paragraph">Is simply dummy text of the printing and typesetting industry.</p>
        <a class="query__btn" href="#">
          Botón
          <span>
            <img src="../assets/icons/arrow-right.svg" alt="">
          </span>
        </a>
      </div>
    </section>
  </main>

 <footer>
    <div class="footer-container">
      <div class="copyright footer-box">
        <div class="logo">
          <img src="./assets/images/LOGO GIMEK 2 1.svg" alt="">
        </div>
        <p>Copyright &#169 2022 Gimek</p>
      </div>
      <div class="policies footer-box">
        <h4>Políticas</h4>
        <p><a href="#">Políticas de privacidad</a></p>
        <p><a href="#">Políticas de cookies</a></p>
      </div>
      <div class="menu-footer footer-box">
        <h4>Menú</h4>
        <p><a href="#">Nosotros</a></p>
        <p><a href="./views/categories.html">Categorías</a></p>
        <p><a href="./views/ubicaciones.html">Ubicaciones</a></p>
        <p><a href="https://wa.me/5491169620164?text=Hola!!,%20estoy%20buscando%20un%20producto..." target="_blank">Contacto</a></p>
      </div>
      <div class="follow footer-box">
        <h4>Síguenos</h4>
        <div class="message">
          <form action="#">
            <input id="message" type="text">
            <button id="submit">
              <img src="../assets/icons/arrow-right.svg" alt="">
            </button>
          </form>
        </div>
        <div class="social-media">
          <a href="https://www.facebook.com/gimekhogar1/" target="_blank"><img class="redes" src="../assets/icons/facebook.svg" alt=""></a>
          <a href="https://www.instagram.com/gimekhogar/?hl=es" target="_blank"><img class="redes" src="../assets/icons/instagram.svg" alt=""></a>
          <a href="https://twitter.com/gimekhogar" target="_blank"><img class="redes" src="../assets/icons/twitter.svg" alt=""></a>
          <!-- <a href="#"><img class="redes" src="./assets/icons/tiktok.svg" alt=""></a> -->
        </div>
        <p>Copyright &#169 2022 Gimek</p>
      </div>
    </div>
  </footer>

  <div class="whatsapp">
    <a href="https://wa.me/5491169620164?text=Hola!!,%20estoy%20buscando%20un%20producto..." target="_blank">
      <div class="wsp-container">
        <img src="../assets/icons/whatsapp.svg" alt="" class="wsp-logo">
      </div>
    </a>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
  <script src="../scripts/main.js"></script>
</body>
</html>