<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gimek Hogar</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta name="description" content="sadasd">
  <meta name="keywords" content="asdad">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="icon" href="../assets/images/favicon.ico">
</head>
<body>
  <header class="header">
    <nav class="nav container">
      <div class="logo">
        <img src="../assets/images/LOGO GIMEK 2 1.svg" alt="">
      </div>
      <ul class="menu menu-off" id="menu">
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="./categories.html">Categorías</a></li>
        <li><a href="./ubicaciones.html">Ubicaciones</a></li>
        <li><a href="https://wa.me/5491169620164?text=Hola!!,%20estoy%20buscando%20un%20producto..." target="_blank">Contacto</a></li>
      </ul>
      <div class="menu-icon" id="menu-icon">
        <img src="../assets/icons/menu-icon.svg" alt="">
      </div>
    </nav>
  </header>

  <main>
    <div class="ubicacion-title">
        <p>Ubicación de nuestro local y sucursales</p>
    </div>

    <div class="ubicacion-sections">
        <div class="ubicacion">
            <div class="ubicacion-info">
                <h4>Casa central</h4>
                <div class="infor">
                    <img src="../assets/icons/map.svg" alt="">
                    <p>Florida 1878, Valentin Alsina, Lanus, Buenos Aires</p>
                </div>
                <div class="infor">
                    <img src="../assets/icons/mobile.svg" alt="">
                    <p>1169620164</p>
                </div>
            </div>
            <div class="ubicacion-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.9893535775686!2d-58.42053878428425!3d-34.68021816905786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccc6289ee7449%3A0x98030bd32fc3c255!2sFlorida%201878%2C%20B1822%20Valent%C3%ADn%20Alsina%2C%20Provincia%20de%20Buenos%20Aires%2C%20Argentina!5e0!3m2!1ses!2spe!4v1665633409583!5m2!1ses!2spe" width="561" height="276" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="ubicacion">
            <div class="ubicacion-info">
                <h4>Sucursales de retiro 1:</h4>
                <div class="infor">
                    <img src="../assets/icons/map.svg" alt="">
                    <p>Cervantes 34, Resistencia, Chaco </p>
                </div>
                <div class="infor">
                    <img src="../assets/icons/mobile.svg" alt="">
                    <p>1169620164</p>
                </div>
            </div>
            <div class="ubicacion-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3540.3931450202745!2d-58.99451648445242!3d-27.45701732273826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450c8da7927635%3A0xfdfc1cb6ed30a67f!2sCervantes%2034%2C%20H3504CQK%20Resistencia%2C%20Chaco%2C%20Argentina!5e0!3m2!1ses!2spe!4v1665636499639!5m2!1ses!2spe" width="563" height="276" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="ubicacion">
            <div class="ubicacion-info">
                <h4>Sucursales de retiro 2:</h4>
                <div class="infor">
                    <img src="../assets/icons/map.svg" alt="">
                    <p>Dr. Padre Vazquez 440, Juan José Castelli, Chaco </p>
                </div>
                <div class="infor">
                    <img src="../assets/icons/mobile.svg" alt="">
                    <p>1169620164</p>
                </div>
            </div>
            <div class="ubicacion-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12067.188481798115!2d-60.63266398012857!3d-25.948467226172955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94404cfb80a04deb%3A0x2686fed96d400316!2sDr.%20Horacio%20Vazquez%20440%2C%20H3705%20Juan%20Jos%C3%A9%20Castelli%2C%20Chaco%2C%20Argentina!5e0!3m2!1ses!2spe!4v1665638047599!5m2!1ses!2spe" width="563" height="276" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="ubicacion">
            <div class="ubicacion-info">
                <h4>Sucursales de retiro 3:</h4>
                <div class="infor">
                    <img src="../assets/icons/map.svg" alt="">
                    <p>Brown 615, Gral. José de San Martin, Chaco</p>
                </div>
                <div class="infor">
                    <img src="../assets/icons/mobile.svg" alt="">
                    <p>1169620164</p>
                </div>
            </div>
            <div class="ubicacion-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3569.2468550770127!2d-59.33676688447153!3d-26.544336484334956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x944389cd4d06abf3%3A0x1305dbd5ce94bbbf!2sAv.%20Brown%20615%2C%20Gral.%20Jos%C3%A9%20de%20San%20Mart%C3%ADn%2C%20Chaco%2C%20Argentina!5e0!3m2!1ses!2spe!4v1665638200441!5m2!1ses!2spe" width="563" height="276" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

    <section class="information section">
        <div class="information__grid container">
          <div class="info info-0">
            <img class="info__img" src="../assets/images/img-envio.png" alt="imagen trabajador">
            <p>Cobros y envios a cualquier parte del país</p>
          </div>
          <div class="info__content">
            <div class="info info-1">
              <div class="info__texts">
                <h3 class="info__title">Aceptamos todas las Tarjetas</h3>
                <p class="info__paragraph">Hasta 3 cuotas sin interes</p>
              </div>
              <img src="../assets/images/tarjetas.png" alt="imagen tarjetas">
            </div>
  
            <div class="info info-2">
              <img src="../assets/images/megafono.png" alt="imagen tarjetas">
              <div class="info__texts">
                <h3 class="info__title">Compra superior a $30.000</h3>
                <p class="info__paragraph">Una Remera de la selección de Regalo</p>
              </div>
            </div>
          </div>
        </div>
    </section>

    <section class="section container">
        <div class="query">
          <h3 class="query__title">¿Tienes alguna consulta o quieres comunicarte con soporte?</h3>
          <p class="query__paragraph">Is simply dummy text of the printing and typesetting industry.</p>
          <a class="query__btn" href="https://wa.me/5491169620164?text=Hola!!,%20tengo%20una%20consulta..." target="_blank">
            Botón
            <span>
              <img src="../assets/icons/arrow-right.svg" alt="">
            </span>
          </a>
        </div>
    </section>
  </main>

  <footer>
    <div class="footer-container">
      <div class="copyright footer-box">
        <div class="logo">
          <img src="../assets/images/LOGO GIMEK 2 1.svg" alt="">
        </div>
        <p>Copyright &#169 2022 Gimek</p>
      </div>
      <div class="policies footer-box">
        <h4>Políticas</h4>
        <p><a href="#">Políticas de privacidad</a></p>
        <p><a href="#">Políticas de cookies</a></p>
      </div>
      <div class="menu-footer footer-box">
        <h4>Menú</h4>
        <p><a href="#">Nosotros</a></p>
        <p><a href="../views/categories.html">Categorías</a></p>
        <p><a href="../views/ubicaciones.html">Ubicaciones</a></p>
        <p><a href="https://wa.me/5491169620164?text=Hola!!,%20estoy%20buscando%20un%20producto..." target="_blank">Contacto</a></p>
      </div>
      <div class="follow footer-box">
        <h4>Síguenos</h4>
        <div class="message">
          <form action="#">
            <input id="message" type="text">
            <button id="submit">
              <img src="../assets/icons/arrow-right.svg" alt="">
            </button>
          </form>
        </div>
        <div class="social-media">
          <a href="https://www.facebook.com/gimekhogar1/" target="_blank"><img class="redes" src="../assets/icons/facebook.svg" alt=""></a>
          <a href="https://www.instagram.com/gimekhogar/?hl=es" target="_blank"><img class="redes" src="../assets/icons/instagram.svg" alt=""></a>
          <a href="https://twitter.com/gimekhogar" target="_blank"><img class="redes" src="../assets/icons/twitter.svg" alt=""></a>
          <!-- <a href="#"><img class="redes" src="../assets/icons/tiktok.svg" alt=""></a> -->
        </div>
        <p>Copyright &#169 2022 Gimek</p>
      </div>
    </div>
  </footer>

  <div class="whatsapp">
    <a href="https://wa.me/5491169620164?text=Hola!!,%20estoy%20buscando%20un%20producto..." target="_blank">
      <div class="wsp-container">
        <img src="../assets/icons/whatsapp.svg" alt="" class="wsp-logo">
      </div>
    </a>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
  <script src="../scripts/main.js"></script>
</body>
</html>
