html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}