html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 2rem;
  line-height: 1;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}