.offers {

  &__title {
    @extend %heading;
  }

  &__grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 30rem);
    padding: 1rem 0;
    @include scrollHorizontal;

    @media (min-width: 768px) {
      @include grid(2, 2rem)
    }
    @media (min-width: 1024px) {
      @include grid(4, 2rem)
    }
  }
}

.offer {
  display: flex;
  flex-direction: column;
  border: 1px solid #F4F4F4;
  padding: 1rem;
  border-radius: 1rem;

  // &__img {
  //   object-fit:cover;
  // }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
  }

  &__price {
    font-size: 2rem;
    font-weight: 700;
    margin: .5rem 0;
  }

  &__info {
    font-size: 1.6rem;
    margin: .5rem 0;
  }

  &__btn {
    font-size: 1.8rem;
    color: $black-color;
    font-weight: 700;
  }
}