.opinion-title {
  font-size: 3rem;
  font-weight: 500;
}

.glider-contain {
  position: relative;
  margin: 40px 0;
  .glider {
    .opinion {
      position: relative;
      width: 313px;
      margin: 20px;
      padding: 50px 30px 30px 30px;
      border-radius: 8px;
      background-color: $terciary-color;
      .comillas {
        position: absolute;
        top: -25px;
        right: 10px;
      }
      .opinion__info {
        font-size: 1.6rem;
      }
      .opinion__content {
        display: flex;
        align-items: center;
        margin-top: 20px;
        img {
          margin-right: 10px;
        }
        .opinion__title {
          font-size: 1.6rem;
        }
      }
    }
  }
  .glider-buttons {
    position: absolute;
    top: -82px;
    left: 85%;
    width: 90px;
    height: 28px;
    .btn-glider {
      width: 60px;
      height: 28px;
      @include flex-center;
      background-color: $primary-color;
      img {
        width: 18px;
      }
    }
  }
  .dots {
    display: none;
  }
}

@media (max-width: 760px) {
  .glider-contain {
    .glider-buttons {
      position: relative;
      left: 0;
      right: 0;
      top: 20px;
      margin: auto;
    }
  }
}