.ubicacion-title {
    background-color: #F5F9FC;
    height: 244px;
    @include flex-center;
    p {
        width: 90%;
        text-align: center;
        font-size: 4rem;
        font-weight: 600;
        color: $primary-color;
    }
}

.ubicacion-sections {
    .ubicacion {
        max-width: 1100px;
        width: 90%;
        margin: 50px auto;
        display: flex;
        justify-content: space-between;
        .ubicacion-info {
            width: 45%;
            h4 {
                font-size: 3rem;
                font-weight: 600;
                color: $primary-color;
            }
            .infor {
                display: flex;
                align-items: center;
                margin-top: 30px;
                img {
                    width: 32px;
                }
                p {
                    font-size: 2rem;
                    font-weight: 600;
                    margin-left: 10px;
                }
                &:last-child {
                    margin-top: 15px;
                }
            }

        }
        .ubicacion-map {
            width: 50%;
            iframe {
                width: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    .ubicacion-sections {
        .ubicacion {
            flex-direction: column;
            align-items: center;
            .ubicacion-info {
                width: 90%;
            }
            .ubicacion-map {
                width: 90%;
                margin-top: 20px;
            }
        }
    }
}