.whatsapp {
    position: fixed;
    bottom: 5vh;
    right: 40px;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
    .wsp-container {
        width: 77px;
        height: 77px;
        border-radius: 50%;
        background-color: $secondary-color;
        @include flex-center;
        .wsp-logo {
            width: 35px;
        }
    }
}

@media (max-width: 768px) {
    .whatsapp {
        bottom: 2vh;
        right: 20px;
    }
}

@media (max-width: 480px) {
    .whatsapp {
        bottom: 1vh;
        right: 10px;
    }
}
